*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/fondo-hielo.jpg) black;
    background-size: cover;/*con el cover se coloca la imagen en toda la pantalla*/
    background-attachment: fixed;/*para que al imagen se mantenga estatica en el fondo*/

}
.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
header{
    width: 100%;
    padding: 50px 0;
    display: flex;/*así lo colocamos en una espece de float*/
    flex-direction: row;/*en fila*/
    /* flex-wrap: wrap; */
    justify-content: space-between;/*con esta propiedad el logo y el menú se separan y el espacio vacío va en medio*/
    align-items: center;
}
header .menu a{
    color: bisque;
    text-decoration: none;
    margin-right: 40px;

}
header .menu a:hover{
    text-decoration: underline;
}

.main{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 70%;
}
.main article .thumb{
    margin-bottom: 20px;   
}
.main article .thumb img{
    width: 100%;
    vertical-align: top;
}
.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}
.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;  
}

aside{
    width: 30%;
    /* background-color: #537dca8e; */
    background-color: rgba(255, 255, 255, .2);

    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .ad{
    font-size: 30px;
    text-align: center;
    color: #FFF;
    padding: 50px 0;
    background-color: rgba(49, 42, 42, 0.39);
    /* margin-bottom: 20px; /*cuando aplicamos el flex al aside presindimos xq se veía el amrgin alejado abajo*/
}
footer{
    margin: 20px 0;
    background-color: rgba(49, 42, 42, 0.39);

    padding: 20px;
    width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer .redes-sociales a{
 color: #FFF;   
text-decoration: underline;
margin-left: 20px;
font-weight: bold;
}

footer .redes-sociales a:hover{
    text-decoration: none;

}

/*Haciendo el responsive*/
@media screen and (max-width:800px){
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
        flex-direction: row;
        }
    aside .ad{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    header{
        flex-direction: column;/*al pasarlo a colum cuando se haga muy pequeñe el header pasara a nivel columnas y el menú pasara para abajo*/
        padding-top: 20px;
    }
    header .menu{
        width: 100%;
        background-color: rgba(255, 255, 255, .2);
        text-align: center;
        padding: 20%;
    }
    header .menu a{
        margin: 0 20px;
    }
    header .logo{
        margin-bottom:20px ;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    footer .autor{
        order: 2;
    }
    footer .redes-sociales{
        order: 1;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:400px){
    aside .ad{
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        padding: 5px;
    }
}
