body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2dfdf;
}
table, td,th{
    border: 1px solid rgba(5, 5, 5, 0.03);
}

table{
    border-collapse:collapse; /*propiedad para darle el border tipo tabla */
    width: 500px;
    text-align: center;
}

th,td{/*columnas*/
    padding: 10px 20px;
}

th{
    background-color: #009ddc;
    color: antiquewhite;
}

tr:hover{/* filas */
    background-color: #9692926c;/* cambiar el color cuando esté sobre podemos hacer una especie de distinción*/
}

.container{
    margin: auto auto;
}
a{
    text-decoration: none;
    color: black;
}