*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}

.galeria{
    width: 100%;
}
.galeria img{
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 5px;
    vertical-align: top /* esto es para alinear todas las imagenes con el top*/;
    opacity: 0.5;
    border: solid #484848 1px;
}

.galeria img:hover{
    border: rgb(255, 255, 255) solid 1px;
    opacity: 1;
}