/*
Con esta página podemos ver muchos gradientes para ayudarnos 
https://www.colorzilla.com/gradient-editor/
*/

.fondo{
    border: solid navy 1px;
    width: 500px;
    height: 500px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+24,f6290c+40,f6290c+40,f16f5c+58,f02f17+81,f02f17+81 */
    background: rgb(248,80,50); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,80,50,1) 24%, rgba(246,41,12,1) 40%, rgba(246,41,12,1) 40%, rgba(241,111,92,1) 58%, rgba(240,47,23,1) 81%, rgba(240,47,23,1) 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 24%,rgba(246,41,12,1) 40%,rgba(246,41,12,1) 40%,rgba(241,111,92,1) 58%,rgba(240,47,23,1) 81%,rgba(240,47,23,1) 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(248,80,50,1) 24%,rgba(246,41,12,1) 40%,rgba(246,41,12,1) 40%,rgba(241,111,92,1) 58%,rgba(240,47,23,1) 81%,rgba(240,47,23,1) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f02f17',GradientType=0 ); /* IE6-9 */
}