/*
Tipos De Elementos:
    Inline, block, inline-block
    los elementos inline, no son buenos para usar padding, borde, margin y otros elementos
*/

*{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p, div{/*elementos de block*/
    background: #e7dede; /*fondo*/
    height: 50px; /*altura*/
    padding: 10px; /*tamaño del relleno*/
}
a{/*Elementos INLINE*/
    background-color: black;
    color: azure;
    display: inline-block;/* propiedad para cambiar el estado de inline a block o inline-block, y con esto le agregamos caracteristicas inline  y viceversa*/
}

/*
Algunos Elementos "inline":
    a, span, img, b, i, small, cite, code,
    em, strong, br, script, button,
    input, label, select, textarea

Algunos Elementos "block":
    div, article, section, header,
    footer, aside, table, p, video, 
    ul, ol, h1, h2, h3, h4, h5, h6

*/