.contenedor{
    display: grid;/*creando la grid*/
    /* Usaremos la función repeat, repeact(cant de columnas, ancho) */
    grid-template-columns: 200px repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);


}
